---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-2xl font-bold text-primary-255 font-serif flex items-center">
      <span class="sr-only">BOLGPC</span>
      <img src = '../logo.png' class="h-12 w-auto mr-2" alt="BOLGPC Logo">
      <span class="text-primary-255">BOLGPC</span>
    </a>
    
    <Navigation />
  </div>
</header>