---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/Sections/PageHeader.astro";
import Bulletin from "../content/bulletin.md";
---

<BaseLayout
  title="Archived Bulletin - BOLGPC"
  description="Archived Bulletin"
>
  <PageHeader 
    title="Archived Bulletin" 
    subtitle="Church Bulletin"
    backgroundImage=""
  />
   <div class="container">
      <div class="max-w-4xl text-2xl mx-auto"> 
        <article class="prose prose-lg max-w-none prose-headings:text-gray-900 prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-p:text-gray-700 prose-li:text-gray-700 prose-strong:text-gray-900 prose-a:text-primary-600 hover:prose-a:text-primary-700">
      <Bulletin />
    </article>
      </div>
    </div>

</BaseLayout>