---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/Sections/PageHeader.astro";
import Sermon from "../content/sermons.md";
import sermons from '../data/sermons.json';
---

<BaseLayout
  title="Sermon Outline - BOLGPC"
  description="Archived Sermons"
>
  <PageHeader 
    title="Church Sermons" 
    subtitle="Church Sermons"
    backgroundImage=""
  />
   <div class="container">
    <a href="https://bolgpc.org/wp-content/uploads/2025/06/Where-do-we-go-from-here-Horz.pdf" target="_blank" rel="noopener noreferrer">
  The Latest Sermon Outline
</a>

     
    </div>

</BaseLayout>