 <span>Series: {sermon.data.series}</span>
</div>
                )}
                                
                                {sermon.data.scripture && (
                                                    <div class="mb-3 flex items-center text-gray-600">
                                                        
                                )}